apiVersion: apps/v1
kind: Deployment
metadata:
  name: no_code_ai_assistant-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: no_code_ai_assistant-frontend
  template:
    metadata:
      labels:
        app: no_code_ai_assistant-frontend
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '80'
    spec:
      containers:
        - name: frontend
          image: no_code_ai_assistant-frontend:latest
          ports:
            - containerPort: 80
          env:
            - name: REACT_APP_API_URL
              value: "http://no_code_ai_assistant-backend:3000"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: no_code_ai_assistant-frontend
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: '80'
spec:
  selector:
    app: no_code_ai_assistant-frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 80
